force-app/main/default/flows/CreateProjectAndProjectListItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddProjRelItemToTheList</name>
        <label>AddProjRelItemToTheList</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItemsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItem1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProjectLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateNewProjectLineItem</name>
        <label>CreateNewProjectLineItem</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItem1.Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateProjectLineItems.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem1.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateProjectLineItems.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem1.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateProjectLineItems.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem1.Estimated_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateProjectLineItems.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProjRelItemToTheList</targetReference>
        </connector>
    </assignments>
    <description>Creates a Project and its related Project List Items when an Opportunity&apos;s stage changes to Closed Won</description>
    <interviewLabel>CreateProjectAndProjectListItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProjectAndProjectListItems</label>
    <loops>
        <description>Creates Project Line Items with the values of the Opportunity Line Items related to the closed won opportunity</description>
        <name>CreateProjectLineItems</name>
        <label>CreateProjectLineItems</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetOpptyRelatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateNewProjectLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProjectLineItems1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new project and it&apos;s related projectLineItems based on the closed Opportunity and it&apos;s related opportunity line items</description>
        <name>CreateNewProject</name>
        <label>CreateNewProject</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>GetOpptyRelatedItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.PM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProjectLineItems1</name>
        <label>CreateProjectLineItems1</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>ProjectLineItemsList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query to get the opportunity related Items related to the closed won opportunity</description>
        <name>GetOpptyRelatedItems</name>
        <label>GetOpptyRelatedItems</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProjectLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateNewProject</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectLineItem1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ProjectLineItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
</Flow>
