force-app/main/default/flows/enviar_mail_al_equipo_avisando_por_fuera_de_oficina.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_email_notificacion_recursos_proyecto</name>
        <label>enviar email notificacion recursos proyecto</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailOutOfOfficeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListaDeMails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Aviso de un nuevo fuera de oficina</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asignarIdArchitect</name>
        <label>asignarIdArchitect</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>projectlineitemIDarchitect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cada_PLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cada_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarIdConsultant</name>
        <label>asignarIdConsultant</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>projectLineItemIDConsultant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cada_PLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cada_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarIdDeveloper</name>
        <label>asignarIdDeveloper</label>
        <locationX>792</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItemIDDeveloper</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cada_PLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cada_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDUsuarioNuevo</name>
        <label>IDUsuarioNuevo</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>nuevoEmailUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrerAssignedResourcesRelacionados.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>listaDeMailsDeUsuarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>listaDeMailsDeUsuarios</name>
        <label>listaDeMailsDeUsuarios</label>
        <locationX>264</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>ListaDeMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nuevoEmailUsuario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerAssignedResourcesRelacionados</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>separar_por_rol</name>
        <label>separar por rol</label>
        <locationX>660</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>cada_PLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARCHITECT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cada_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Architect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarIdArchitect</targetReference>
            </connector>
            <label>ARCHITECT</label>
        </rules>
        <rules>
            <name>CONSULTANT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cada_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarIdConsultant</targetReference>
            </connector>
            <label>CONSULTANT</label>
        </rules>
        <rules>
            <name>DEVELOPER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cada_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarIdDeveloper</targetReference>
            </connector>
            <label>DEVELOPER</label>
        </rules>
    </decisions>
    <interviewLabel>enviar mail al equipo avisando por fuera de oficina {!$Flow.CurrentDateTime}</interviewLabel>
    <label>enviar mail al equipo avisando por fuera de oficina</label>
    <loops>
        <name>cada_PLI</name>
        <label>cada PLI</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_plis_relacionados_al_proyecto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>separar_por_rol</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAssignedResourcesRelatedToProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorrerAssignedResourcesRelacionados</name>
        <label>recorrerAssignedResourcesRelacionados</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <collectionReference>getAssignedResourcesRelatedToProject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IDUsuarioNuevo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_plis_relacionados_al_proyecto</name>
        <label>get plis relacionados al proyecto</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cada_PLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_project</name>
        <label>get project</label>
        <locationX>176</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>enviar_email_notificacion_recursos_proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssignedResourcesRelatedToProject</name>
        <label>getAssignedResourcesRelatedToProject</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrerAssignedResourcesRelacionados</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Project_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectlineitemIDarchitect</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectLineItemIDConsultant</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectLineItemIDDeveloper</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Assigned_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_plis_relacionados_al_proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>out_of_office__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailOutOfOfficeBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola!



Queríamos notificarte que {!$User.FirstName} se toma días libres para uno el proyecto {!get_project.Name} en el cual también te han asignado.



Saludos.</text>
    </textTemplates>
    <variables>
        <name>eachPLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ListaDeMails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaDePLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>nuevoEmailUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nuevoIdUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectlineitemIDarchitect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectLineItemIDConsultant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectLineItemIDDeveloper</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
