force-app/main/default/flows/getProjectResources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>PARAssigment</name>
        <label>PARAssigment</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllPAR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getProjectAssignedResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateProjectLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TaskVariablesAssignment_0</name>
        <label>TaskVariablesAssignment</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>resource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resourcePickList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resumen_tarea_a_realizar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descripcion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>start_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Inicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fecha_Fin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimated_hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>estimated_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTHEPAR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completada</name>
        <choiceText>Completada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completada</stringValue>
        </value>
    </choices>
    <choices>
        <name>En_Progreso</name>
        <choiceText>En Progreso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Progreso</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_iniciada</name>
        <choiceText>No iniciada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No iniciada</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>choiceSetPAR</name>
        <collectionReference>AllPAR</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project_Assigned_Resource__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>getProjectResource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>getProjectResources</label>
    <loops>
        <name>IterateProjectLineItems</name>
        <label>IterateProjectLineItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getProjectLineITems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getProjectAssignedResources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Scren1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTaskRecord</name>
        <label>createTaskRecord</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getSelectedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>summary</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getProjectAssignedResources</name>
        <label>getProjectAssignedResources</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PARAssigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateProjectLineItems.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Assigned_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProjectLineITems</name>
        <label>getProjectLineITems</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateProjectLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSelectedUser</name>
        <label>getSelectedUser</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createTaskRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTHEPAR.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTHEPAR</name>
        <label>getTHEPAR</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSelectedUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resource</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Assigned_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Scren1</name>
        <label>Scren1</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TaskVariablesAssignment_0</targetReference>
        </connector>
        <fields>
            <name>resourcePickList</name>
            <choiceReferences>choiceSetPAR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recurso a asignar :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Resumen_tarea_a_realizar</name>
            <dataType>String</dataType>
            <fieldText>Resumen tarea a realizar :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descripcion</name>
            <dataType>String</dataType>
            <fieldText>Descripcion :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Inicio</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Inicio :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Fin</name>
            <dataType>Date</dataType>
            <fieldText>Fecha Fin :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Horas_estimadas</name>
            <dataType>Number</dataType>
            <fieldText>Horas estimadas:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estado</name>
            <choiceReferences>No_iniciada</choiceReferences>
            <choiceReferences>En_Progreso</choiceReferences>
            <choiceReferences>Completada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProjectLineITems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllPAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>currentProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>end_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>estimated_hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>projectOfTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>resource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sadasddas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>squadLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>projectRecord.Squad_Lead__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ssdsaqd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>start_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
