force-app/main/default/flows/Out_of_Office_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>actualizar_fecha_fin_anterior</name>
        <label>actualizar fecha fin anterior</label>
        <locationX>1150</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>fechaFinAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_de_assigned_resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>actualizar_fecha_fin_anterior_0</name>
        <label>actualizar fecha fin anterior</label>
        <locationX>1018</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>fechaFinAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_ofo_asignado_a_un_proyecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>agregar_ofo_con_proyecto_a_lista</name>
        <label>agregar ofo con proyecto a lista</label>
        <locationX>1150</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>listOfOutOfOffice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOutOfOffice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualizar_fecha_fin_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>agregar_ultimo_a_lista_de_ofo</name>
        <label>agregar ultimo a lista de ofo</label>
        <locationX>798</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>listOfOutOfOffice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOutOfOffice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ordenar_lista_de_ofo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_List_Of_Dates_Out_Of_Office</name>
        <label>assign List Of Dates Out Of Office</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>listOfOutOfOfficeText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignStarDateoutOfOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfOutOfOfficeText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignEndDateOutOfOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listOfOutOfOfficeText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrer_out_of_office</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>crear_out_of_office_sin_asignacion</name>
        <label>crear out of office sin asignacion</label>
        <locationX>1018</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>newOutOfOffice.start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaFinAnterior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.end_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_ofo_sin_asingar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_ofo_asignado_a_un_proyecto</name>
        <label>new ofo asignado a un proyecto</label>
        <locationX>1150</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>newOutOfOffice.ProjectManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Project_Line_Item__r.Project__r.Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.SquadLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Project_Line_Item__r.Project__r.Squad_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting for approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaFinAnterior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.end_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Project_Line_Item__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>set_de_assigned_resources.Project_Line_Item__r.Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>agregar_ofo_con_proyecto_a_lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_ofo_sin_asingar</name>
        <label>new ofo sin asingar</label>
        <locationX>1018</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>listOfOutOfOffice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOutOfOffice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualizar_fecha_fin_anterior_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>obtain_dates_from_out_of_office</name>
        <label>obtain dates from out of office</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>assignStarDateoutOfOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_out_of_office.start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignEndDateOutOfOffice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recorrer_out_of_office.end_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_List_Of_Dates_Out_Of_Office</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ultimo_ofo_sin_asignacion_a_proy</name>
        <label>ultimo ofo sin asignacion a proy</label>
        <locationX>798</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaFinAnterior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.end_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutOfOffice.Resource_Name__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>agregar_ultimo_a_lista_de_ofo</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ordenar_lista_de_ofo</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ordenar lista de ofo</label>
        <locationX>930</locationX>
        <locationY>2486</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>listOfOutOfOffice</collectionReference>
        <connector>
            <targetReference>insertar_ofo</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>start_date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>orderPorFecha</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>orderPorFecha</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Assigned_Resources</collectionReference>
        <connector>
            <targetReference>set_de_assigned_resources</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Start_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>fin_de_ultimo_proyecto_es_menor_al_solicitado</name>
        <label>fin de ultimo proyecto es menor al solicitado</label>
        <locationX>930</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>ordenar_lista_de_ofo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_ultima_fecha_de_asignacion_es_menor_a_la_de_fin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>end_out_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fechaFinAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ultimo_ofo_sin_asignacion_a_proy</targetReference>
            </connector>
            <label>si ultima fecha de asignacion es menor a la de fin</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_there_are_out_of_office</name>
        <label>if there are out of office</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>get_Assigned_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if FALSE</defaultConnectorLabel>
        <rules>
            <name>if_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>try_get_out_of_office</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recorrer_out_of_office</targetReference>
            </connector>
            <label>if true</label>
        </rules>
    </decisions>
    <decisions>
        <name>si_el_proyecto_inicia_mas_tarde</name>
        <label>si el proyecto inicia mas tarde</label>
        <locationX>1150</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>new_ofo_asignado_a_un_proyecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_hay_proyecto_en_esta_fecha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fechaFinAnterior</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>set_de_assigned_resources.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crear_out_of_office_sin_asignacion</targetReference>
            </connector>
            <label>no hay proyecto en esta fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>si_no_hay_asignacion_a_proyectos</name>
        <label>si no hay asignacion a proyectos</label>
        <locationX>622</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>orderPorFecha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>crear_un_solo_out_of_office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Assigned_Resources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>out_of_office_sin_aprobacion</targetReference>
            </connector>
            <label>crear un solo out of office</label>
        </rules>
    </decisions>
    <interviewLabel>Out of Office V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Out of Office V2</label>
    <loops>
        <name>recorrer_out_of_office</name>
        <label>recorrer out of office</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>try_get_out_of_office</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>obtain_dates_from_out_of_office</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>existent_out_of_office</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>set_de_assigned_resources</name>
        <label>set de  assigned resources</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <collectionReference>get_Assigned_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>si_el_proyecto_inicia_mas_tarde</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fin_de_ultimo_proyecto_es_menor_al_solicitado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertar_ofo</name>
        <label>insertar ofo</label>
        <locationX>930</locationX>
        <locationY>2606</locationY>
        <inputReference>listOfOutOfOffice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>out_of_office_sin_aprobacion</name>
        <label>out of office sin aprobacion</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>end_date__c</field>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>start_date__c</field>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </inputAssignments>
        <object>out_of_office__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Assigned_Resources</name>
        <label>get Assigned Resources</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>si_no_hay_asignacion_a_proyectos</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9))</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Assigned_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project_Line_Item__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>try_get_out_of_office</name>
        <label>try get out of office</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_there_are_out_of_office</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5) OR (6 AND 7) OR (8 AND 9))</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>start_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>end_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>end_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>end_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>end_out_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>end_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>start_out_date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>out_of_office__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>start_date__c</queriedFields>
        <queriedFields>end_date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>existent_out_of_office</name>
        <label>existent out of office</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outOfOfficeExistentMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Usted ya pidió out of office para los siguientes rangos de fecha:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!listOfOutOfOfficeText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fuera_de_oficina</name>
        <label>Fuera de oficina</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>try_get_out_of_office</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>start_out_date</name>
            <dataType>Date</dataType>
            <fieldText>start out date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You can not select a date before today&lt;/p&gt;</errorMessage>
                <formulaExpression>{!start_out_date} &gt; TODAY()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>end_out_date</name>
            <dataType>Date</dataType>
            <fieldText>end out date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The end date has to be greater than start date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!start_out_date} &lt; {!end_out_date}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fuera_de_oficina</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>assignEndDateOfO</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignEndDateOutOfOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignStarDateoutOfOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignStartDateOfO</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaDeFinProyectos</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Fecha auxiliar para decisión en el loop</description>
        <name>fechaFinAnterior</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>start_out_date</elementReference>
        </value>
    </variables>
    <variables>
        <name>FechaInicionProyectos</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDeProyectoRelacionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaAssignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>Listadeproyectosrelacionados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listOfOutOfOffice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>out_of_office__c</objectType>
    </variables>
    <variables>
        <name>listOfOutOfOfficeText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOutOfOffice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>out_of_office__c</objectType>
    </variables>
</Flow>
