force-app/main/default/flows/taskCreator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignedArchitect</name>
        <label>assignedArchitect</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>architecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_developFilter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>do_list_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignedDevelops</name>
        <label>assignedDevelops</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>devs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_developFilter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>do_list_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignmentConsultant</name>
        <label>assignmentConsultant</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>consultants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_developFilter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>do_list_PLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>roleDecision</name>
        <label>roleDecision</label>
        <locationX>660</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>do_list_PLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>develop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>do_list_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignedDevelops</targetReference>
            </connector>
            <label>develop</label>
        </rules>
        <rules>
            <name>architect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>do_list_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Architect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignedArchitect</targetReference>
            </connector>
            <label>architect</label>
        </rules>
        <rules>
            <name>consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>do_list_PLI.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignmentConsultant</targetReference>
            </connector>
            <label>consultant</label>
        </rules>
    </decisions>
    <description>Creador de tareas del PM para los recursos</description>
    <interviewLabel>taskCreator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>taskCreator</label>
    <loops>
        <name>do_list_PLI</name>
        <label>do list PLI</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_PLI_by_Project_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>roleDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>mostrador</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PLI_by_Project_Id</name>
        <label>Get PLI by Project Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>do_list_PLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>mostrador</name>
        <label>mostrador</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mostrar</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>architect</elementReference>
            </defaultValue>
            <fieldText>mostrar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>mostrar2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>consultant</elementReference>
            </defaultValue>
            <fieldText>mostrar2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>mostrar3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>develop</elementReference>
            </defaultValue>
            <fieldText>mostrar3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PLI_by_Project_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>architecs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>consultants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_developFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>devs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaDePLIs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
